.monsters{
  text-decoration: none;
}
.no-monster{
  font-size: 5rem;
}
.search{
  width: 100%;
}
.search button{
  width: 100%;
  border-radius: 5px;

}
.search input{
  width: 95.5%;
 border-radius: 5px;
}